@keyframes loading {
		0% {
			transform:rotate(0deg);
		}
		100% {
			transform:rotate(360deg);
		}
	}
	body {
		background:#e5e5e5;
		margin:0;
		font-family:微软雅黑,黑体,Helvetica,华文黑体;
	}
	#welcome {
		position:fixed;
		width:100%;
		min-width:960px;
		height:100%;
		z-index:20;
		background:#e5e5e5;
		font-size:64px;
		transition:height 1s ease,font-size 1s ease,background 1s ease;
	}
	#welcome i {
		display:block;
		position:absolute;
		top:50%;
		width:100%;
		text-align:center;
		transform: translateY(-50%);
		height:60px;
		line-height:60px;
		font-weight:bold;
		text-align:center;
		color:#fff;
		
		text-shadow:0 0 2px #666;
		
	}
	#main{
		position:relative;
		top: 60px;
		width:960px;
		margin:0 auto;
	}
	#api{
		position:relative;
		display:none;
		top: 60px;
		width:960px;
		margin:0 auto;
	}
	#copyright {
		position:relative;
		top: 80px;
		width:960px;
		margin:0 auto;
		height:40px;
		line-height:40px;
		font-size:12px;
		color:#999;
		text-align:center;
	}
	#copyright a{
		color:#666;
		text-decoration:none;
	}
	#title-host,#title-api {
		height:60px;
		line-height:60px;
		font-size:20px;
		color: #666;
	}
	#add-new-host,#add-new-api {
		position:absolute;
		right:0;
		top:12px;
		height:36px;
		line-height:36px;
		width:140px;
		cursor:pointer;
		font-size:12px;
		color:#fff;
		text-align:center;
		border-radius:18px;
		background:#9c9;
		transition:background .5s ease;
	}
	
	#add-new-form {
		display:none;
		background:#9c9;
		height:60px;
		line-height:60px;
		color:#fff;
		text-shadow:0 0 1px #333;
		font-size:14px;
		position:relative;
		padding-right:140px;
		border-radius:5px;
		padding-left:200px;
		margin-bottom:10px;
	}
	#add-new-form:before{
		content: "Address( No Http/Https ):";
		position:absolute;
		top:0;
		left:0;
		width:200px;
		text-align:center;
	}
	#add-new-api-form {
		display:none;
		background:#9c9;
		height:60px;
		line-height:60px;
		color:#fff;
		text-shadow:0 0 1px #333;
		font-size:14px;
		position:relative;
		padding-right:240px;
		border-radius:5px;
		padding-left:100px;
		margin-bottom:10px;
		margin-top:10px;
	}
	#add-new-api-form:before{
		content: "Api Name:";
		position:absolute;
		top:0;
		left:0;
		width:100px;
		text-align:center;
	}
	#add-new-address,#add-new-apiaddress{
		width:100%;
		padding:0;
		height:60px;
		line-height:60px;
		border:0;
		outline:none;
		font-size:24px;
		color:#fff;
		background:transparent;
	}
	.btn-circle {
		width:40px;
		height:40px;
		border-radius:20px;
		line-height:40px;
		font-size:10px;
		font-style:normal;
		font-weight:bold;
		text-align:center;
		cursor:pointer;
		background:#9c9;
		transition:background .5s ease;
	}
	.btn-circle:hover{
		background:#696;
	}
	#add-new-ok,#add-new-cancel{
		position:absolute;
		top:10px;
		background:#696;
		transition:background .5s ease;
	}
	#add-new-ok {
		right:60px;
	}
	#add-new-cancel {
		right:10px;
	}
	#add-new-ok:hover,#add-new-cancel:hover{
		background:#363;
	}
	
	#add-new-api-ok,#add-new-api-cancel{
		position:absolute;
		top:10px;
		background:#696;
		transition:background .5s ease;
	}
	#add-new-api-ok {
		right:60px;
	}
	#add-new-api-cancel {
		right:10px;
	}
	#add-new-api-ok:hover,#add-new-api-cancel:hover{
		background:#363;
	}
	#add-new-api-isHttp {
		position:absolute;
		cursor:pointer;
		top:10px;
		right:110px;
		width:78px;
		border-radius:20px;
		font-weight:bold;
		color: #fff;
		height:40px;
		transition: background .5s ease, color .5s ease;
	}
	.add-new-api-isHttp {
		background:#696;
	}
	.add-new-api-isHttps {
		background:#363;
	}
	#add-new-api-isHttp:before {
		content:'Http';
		position:absolute;
		cursor:pointer;
		z-index:6;
		left:5px;
		top:5px;
		width:30px;
		height:30px;
		line-height:30px;
		text-align:center;
		font-size:10px;
	}
	#add-new-api-isHttp-btn {
		position:absolute;
		display:block;
		cursor:pointer;
		text-shadow:0 0 0;
		z-index:3;
		top:2px;
		width:36px;
		height:36px;
		line-height:36px;
		text-align:center;
		font-size:20px;
		font-style:normal;
		border-radius:30px;
		color:#9c9;
		transition: background .5s ease, left .5s ease;
	}
	.add-new-api-isHttp-btnHttp {
		left:2px;
		background:#9c9;
	}
	.add-new-api-isHttp-btnHttps {
		left:40px;
		background:#fff;
	}
	
	#loading {
		height:60px;
		border-radius:5px;
		position:relative;
	}
	#loading i{
		display:block;
		width:24px;
		height:24px;
		border:3px solid #393;
		border-radius:30px;
		margin:15px auto;
		border-left:3px solid transparent;
		border-right:3px solid transparent;
		animation:loading .5s linear infinite;
	}
	.host-list-noitem {
		background:#efefef;
		height:60px;
		line-height:60px;
		color:#fff;
		text-shadow:0 0 2px #000;
		font-size:24px;
		font-weight:bold;
		position:relative;
		text-align:center;
		border-radius:5px;

	}
	.host-list-item{
		background:#efefef;
		height:60px;
		line-height:60px;
		color:#fff;
		text-shadow:0 0 3px #000;
		font-size:24px;
		font-weight:bold;
		position:relative;
		padding-right:200px;
		border-radius:5px;
		padding-left:30px;
		margin-bottom:10px;
	}
	.host-list-api {
		position:absolute;
		top:10px;
		right:60px;
	}
	.host-list-del {
		position:absolute;
		top:10px;
		right:10px;
	}
	#return-to-host-list {
		display:inline-block;
		color:#fff;
		font-size:12px;
		padding:0 10px;
		position:relative;
		top:-2px;
		height:30px;
		line-height:30px;
		background:#9c9;
		margin-right:10px;
		border-radius:3px;
		cursor:pointer;
		transition:background .5s ease;
	}
	#api-info {
		background:#efefef;
		height:60px;
		line-height:60px;
		color:#fff;
		text-shadow:0 0 2px #000;
		font-size:24px;
		font-weight:bold;
		position:relative;
		text-align:center;
		border-radius:5px;
	}
	#api-info-regetip{
		display:none;
		position:absolute;
		top:10px;
		right:10px;
		width:40px;
		height:40px;
		border-radius:20px;
		line-height:40px;
		font-size:10px;
		font-style:normal;
		font-weight:bold;
		text-align:center;
		cursor:pointer;
		background:#9c9;
		transition:background .5s ease;
	}
	#api-info-setip{
		display:none;
		position:absolute;
		top:10px;
		left:10px;
		width:40px;
		height:40px;
		border-radius:20px;
		line-height:40px;
		font-size:10px;
		font-style:normal;
		font-weight:bold;
		text-align:center;
		cursor:pointer;
		background:#9c9;
		transition:background .5s ease;
	}
	
	#add-new-host:hover,#api-info-regetip:hover,#add-new-api:hover,#return-to-host-list:hover,#api-info-setip:hover{
		background:#696;
	}