	@keyframes loading {
		0% {
			transform:rotate(0deg);
		}
		100% {
			transform:rotate(360deg);
		}
	}
	
	body {
		background:#e5e5e5;
		margin:0;
		font-family:微软雅黑,黑体,Helvetica,华文黑体;
	}
	
	/* Model Float */
	#model-float {
		position:fixed;
		width:100%;
		height:100%;
		z-index:999;
		display:none;
		background:rgba(0, 0, 0, 0);
		transition:background .5s ease;
	}
	#model-float.fadeIn{
		background:rgba(0, 0, 0, .8);
	}
	#model-container {
		display:inline-block;
		position:fixed;
		z-index:1000;
		top:0%;
		left:50%;
		transform: translate(-50%, -100%);
		background: #696;
		border-radius: 3px;
		transition: top .5s ease, transform .5s ease;
	}
	#model-title {
		position: relative;
		min-width:360px;
		width:100%;
		height:36px;
		line-height:36px;
		padding: 0 10px;
		box-sizing:border-box;
		background: #7a7;
		color:#fff;
		border-radius:3px 3px 0 0;
		font-size:13px;
		text-shadow:0 0 1px #999;
	}
	#model-contain {
		padding:10px;
	}
	
	#welcome {
		position:fixed;
		width:100%;
		min-width:960px;
		height:100%;
		z-index:20;
		background:#e5e5e5;
		font-size:64px;
		transition:height 1s ease,font-size 1s ease,background 1s ease;
	}
	#welcome i {
		display:block;
		position:absolute;
		top:50%;
		width:100%;
		text-align:center;
		transform: translateY(-50%);
		height:60px;
		line-height:60px;
		font-weight:bold;
		text-align:center;
		color:#fff;
		text-shadow:0 0 2px #666;
	}
	
	#main{
		position:relative;
		top: 60px;
		width:960px;
		margin:0 auto;
	}
	
	
	#copyright {
		position:relative;
		top: 80px;
		width:960px;
		margin:0 auto;
		height:40px;
		line-height:40px;
		font-size:12px;
		color:#999;
		text-align:center;
	}
	#copyright a{
		color:#666;
		text-decoration:none;
	}
	
	#api{
		position:relative;
		display:none;
		top: 60px;
		width:960px;
		margin:0 auto;
	}
	
	#title-host,#title-api,#title-info {
		height:60px;
		line-height:60px;
		font-size:20px;
		color: #666;
	}
	#add-new-host,#add-new-api {
		position:absolute;
		right:0;
		top:12px;
		height:36px;
		line-height:36px;
		width:140px;
		cursor:pointer;
		font-size:12px;
		color:#fff;
		text-align:center;
		border-radius:18px;
		background:#9c9;
		transition:background .5s ease;
	}
	
	#loading {
		height:60px;
		border-radius:5px;
		position:relative;
	}
	#loading i{
		display:block;
		width:24px;
		height:24px;
		border:3px solid #393;
		border-radius:30px;
		margin:15px auto;
		border-left:3px solid transparent;
		border-right:3px solid transparent;
		animation:loading .5s linear infinite;
	}

/* Host */
	
	#add-new-form {
		display:none;
		background:#9c9;
		height:60px;
		line-height:60px;
		color:#fff;
		text-shadow:0 0 1px #333;
		font-size:14px;
		position:relative;
		padding-right:140px;
		border-radius:5px;
		padding-left:200px;
		margin-bottom:10px;
	}
	#add-new-form:before{
		content: "Address( No Http/Https ):";
		position:absolute;
		top:0;
		left:0;
		width:200px;
		text-align:center;
	}
	
	#add-new-address,#add-new-apiaddress{
		width:100%;
		padding:0;
		height:60px;
		line-height:60px;
		border:0;
		outline:none;
		font-size:24px;
		color:#fff;
		background:transparent;
		
	}
	
	input[type=text]::-webkit-input-placeholder{
		color:#363;
	}
	
	.btn-circle {
		width:40px;
		height:40px;
		border-radius:20px;
		line-height:40px;
		font-size:10px;
		font-style:normal;
		font-weight:bold;
		text-align:center;
		cursor:pointer;
		background:#9c9;
		transition:background .5s ease;
	}
	.btn-circle:hover{
		background:#696;
	}
	#add-new-ok,#add-new-cancel{
		position:absolute;
		top:10px;
		background:#696;
		transition:background .5s ease;
	}
	#add-new-ok {
		right:60px;
	}
	#add-new-cancel {
		right:10px;
	}
	#add-new-ok:hover,#add-new-cancel:hover{
		background:#363;
	}
	
	
	.host-list-noitem {
		background:#efefef;
		height:60px;
		line-height:60px;
		color:#fff;
		text-shadow:0 0 2px #000;
		font-size:24px;
		font-weight:bold;
		position:relative;
		text-align:center;
		border-radius:5px;

	}
	.host-list-item{
		background:#efefef;
		height:60px;
		line-height:60px;
		color:#fff;
		text-shadow:0 0 3px #000;
		font-size:24px;
		font-weight:bold;
		position:relative;
		padding-right:200px;
		border-radius:5px;
		padding-left:30px;
		margin-bottom:10px;
	}
	
	.host-list-onOrOff {
		position:absolute;
		top:10px;
		cursor:pointer;
		right:110px;
		width:78px;
		height:40px;
		background:#696;
		border-radius:20px;
		transition:background .5s ease;
	}
	.host-list-onOrOff:before,.host-list-onOrOff:after{
		position:absolute;
		z-index:3;
		width:37px;
		height:40px;
		line-height:40px;
		text-align:center;
		font-size:12px;
	}
	.host-list-onOrOff:before{
		content:"ON";
		left:2px;
	}
	.host-list-onOrOff:after{
		content:"OFF";
		right:2px;
	}
	.host-list-onOrOff-on{
		background:#363;
	}
	.host-list-onOrOff i {
		position:absolute;
		cursor:pointer;
		width:36px;
		top:2px;
		height:36px;
		font-size:10px;
		font-weight:normal;
		font-style:normal;
		line-height:36px;
		text-align:center;
		border-radius:50%;
		z-index:4;
		background:#9c9;
		transition:left .5s ease;
	}
	.host-list-onOrOff-off i{ left:2px; }
	.host-list-onOrOff-on i{ left:40px; }
	
	.host-list-api {
		position:absolute;
		top:10px;
		right:60px;
	}
	.host-list-del {
		position:absolute;
		top:10px;
		right:10px;
	}
	
	
/* Api */
	
	#add-new-api-form {
		display:none;
		background:#9c9;
		height:60px;
		line-height:60px;
		color:#fff;
		text-shadow:0 0 1px #333;
		font-size:14px;
		position:relative;
		padding-right:240px;
		border-radius:5px;
		padding-left:100px;
		margin-bottom:10px;
		margin-top:10px;
	}
	#add-new-api-form:before{
		content: "Api Name:";
		position:absolute;
		top:0;
		left:0;
		width:100px;
		text-align:center;
	}
	
	#add-new-api-ok,#add-new-api-cancel{
		position:absolute;
		top:10px;
		background:#696;
		transition:background .5s ease;
	}
	#add-new-api-ok {
		right:60px;
	}
	#add-new-api-cancel {
		right:10px;
	}
	#add-new-api-ok:hover,#add-new-api-cancel:hover{
		background:#363;
	}
	#add-new-api-isHttp {
		position:absolute;
		cursor:pointer;
		top:10px;
		right:110px;
		width:78px;
		border-radius:20px;
		font-weight:bold;
		color: #fff;
		height:40px;
		transition: background .5s ease, color .5s ease;
	}
	.add-new-api-isHttp {
		background:#696;
	}
	.add-new-api-isHttps {
		background:#363;
	}
	#add-new-api-isHttp:before {
		content:'Http';
		position:absolute;
		cursor:pointer;
		z-index:6;
		left:5px;
		top:5px;
		width:30px;
		height:30px;
		line-height:30px;
		text-align:center;
		font-size:10px;
	}
	#add-new-api-isHttp-btn {
		position:absolute;
		display:block;
		cursor:pointer;
		text-shadow:0 0 0;
		z-index:3;
		top:2px;
		width:36px;
		height:36px;
		line-height:36px;
		text-align:center;
		font-size:20px;
		font-style:normal;
		border-radius:30px;
		color:#9c9;
		transition: background .5s ease, left .5s ease;
	}
	.add-new-api-isHttp-btnHttp {
		left:2px;
		background:#9c9;
	}
	.add-new-api-isHttp-btnHttps {
		left:40px;
		background:#fff;
	}
	
	
	#return-to-host-list,#return-to-api-list {
		display:inline-block;
		color:#fff;
		font-size:12px;
		padding:0 10px;
		position:relative;
		top:-2px;
		height:30px;
		line-height:30px;
		background:#9c9;
		margin-right:10px;
		border-radius:3px;
		cursor:pointer;
		transition:background .5s ease;
	}
	#api-info {
		background:#efefef;
		height:60px;
		line-height:60px;
		color:#fff;
		text-shadow:0 0 2px #000;
		font-size:24px;
		font-weight:bold;
		position:relative;
		text-align:center;
		border-radius:5px;
	}
	#api-info-regetip{
		display:none;
		position:absolute;
		top:10px;
		right:10px;
		width:40px;
		height:40px;
		border-radius:20px;
		line-height:40px;
		font-size:10px;
		font-style:normal;
		font-weight:bold;
		text-align:center;
		cursor:pointer;
		background:#9c9;
		transition:background .5s ease;
	}
	#api-info-setip{
		display:none;
		position:absolute;
		top:10px;
		left:10px;
		width:40px;
		height:40px;
		border-radius:20px;
		line-height:40px;
		font-size:10px;
		font-style:normal;
		font-weight:bold;
		text-align:center;
		cursor:pointer;
		background:#9c9;
		transition:background .5s ease;
	}
	
	#add-new-host:hover,#api-info-regetip:hover,#add-new-api:hover,#return-to-host-list:hover,#return-to-api-list:hover,#api-info-setip:hover{
		background:#696;
	}
	
	
	.api-list-item {
		background:#efefef;
		height:60px;
		white-space:nowrap;
		width:760px;
		padding-right:120px;
		overflow:hidden;
		line-height:60px;
		color:#fff;
		text-shadow:0 0 0;
		font-size:24px;
		font-weight:bold;
		position:relative;
		text-align:left;
		padding-left:80px;
		border-radius:5px;
		margin-top:10px;
	}
	.api-list-item-http {
		color:#9c9;
	}
	.api-list-item-https {
		color:#363;
	}
	.api-list-item-http:before,.api-list-item-https:before{
		position:absolute;
		left:0;
		top:0;
		height:60px;
		line-height:60px;
		width:80px;
		font-size:12px;
		text-align:center;
		font-weight:normal;
	}
	.api-list-item-http:before{ content:'Http'; }
	.api-list-item-https:before{ content:'Https'; }
	
	.api-list-del {
		position:absolute;
		top:10px;
		right:10px;
		color:#fff;
		text-shadow:0 0 2px #000;
	}
	.api-list-info {
		position:absolute;
		top:10px;
		right:60px;
		color:#fff;
		text-shadow:0 0 2px #000;
	}
	
/* Info */

#info{
	position:relative;
	display:none;
	top: 60px;
	width:960px;
	margin:0 auto;
}
#title-info{
	width:960px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
#info-container-nav span{
	position:relative;
	display:inline-block;
	padding:0 10px;
	height:32px;
	line-height:32px;
	background:#9c9;
	color:#fff;
	font-size:12px;
	margin-right:10px;
	border-radius:3px;
	cursor:pointer;
	transition:background .5s ease;
}
#info-container-nav span:hover{
	background:#363;
}
#info-container-nav span.infoActive{
	background:#363;
}
#info-container-nav span.infoActive:before{
	content:' ';
	display:block;
	position:absolute;
	left:50%;
	transform: translate(-6px, 30px);
	border:6px solid transparent;
	border-bottom:8px solid #f9f9f9;
	width:0;
	height:0;
}
.info-contain{
	background:#f9f9f9;
	padding:20px;
	margin-top:12px;
	border-radius:3px;
	display:none;
}


/* return body */
#info-main-body > div {
	position:relative;
	padding:10px;
	background:#e5f5e5;
	border-radius:3px;
	margin-bottom:20px;
}
.info-main-body-stitle{
	background:#fff;
	display:inline-block;
	border-radius:3px;
	color:#709;
	font-size:12px;
	padding:5px 10px;
	cursor:pointer;
}
#info-main-body-return-mode {
	cursor:pointer;
	color:#709;
	font-size:12px;
}
#info-main-body-return-mode-value {
	display:inline-block;
	cursor:pointer;
	font-weight:bold;
	padding:0 10px;
}
#info-main-body-edit-value{
	margin-top:10px;
}

.info-body-data-array,.info-body-data-object,.info-body-data-string,.info-body-data-boolean,.info-body-data-number{
	border-left:1px dashed #999;
	border-top:1px dashed #999;
	position:relative;
	display:block;
	padding:2px;
	padding-top:5px;
	padding-left:10px;
	margin-top:10px;
	border-radius:2px;
	font-size:13px;
}

.info-body-data-addItem{
	position:absolute;
	top:5px;
	border-radius:3px;
	font-size:12px;
	right:115px;
	padding:3px 5px;
	background:#fff;
	color:#709;
	cursor:pointer;
}
.info-body-data-deleteItem{
	position:absolute;
	top:5px;
	border-radius:3px;
	font-size:12px;
	right:60px;
	padding:3px 5px;
	background:#fff;
	color:#709;
	cursor:pointer;
}
.info-body-data-changeItem{
	position:absolute;
	top:5px;
	border-radius:3px;
	font-size:12px;
	right:0px;
	padding:3px 5px;
	background:#fff;
	color:#709;
	cursor:pointer;
}
.info-body-data-array > span,.info-body-data-object >span {
	display:block;
}
.info-body-data-type {
	color:#709;
	cursor:pointer;
}
.info-body-data-name + .info-body-data-type {

	display:inline-block;
}
.info-body-data-name {
	color:#a33;
	margin-right:2px;
}
span.info-body-data-name,span.info-body-data-value {
	display:inline-block;
	padding-left:10px;
	padding-right:10px;
}
span.info-body-data-value{
	margin-left:2px;
}
#info-main-body-edit-value > span > .info-body-data-addItem{ right:60px;}
#info-main-body-edit-value > span > .info-body-data-deleteItem{ display:none;}

#info-main-body-edit-load {
	display:none;
	z-index:10;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(60, 122, 60, .8);
	border-radius:3px;
}
.info-main-body-edit-load-in {
	display:block;
	position:absolute;
	top:50%;
	left:50%;
	width:40px;
	height:40px;
	border:3px solid transparent;
	border-radius:50%;
	border-top:3px solid #ff0;
	border-bottom:3px solid #ff0;
	margin-left:-20px;
	margin-top:-20px;
	animation: loading .5s linear infinite;
}

#info-main-body-btn {
	text-align:right;
	padding-top:20px;
}
#info-main-body-btn > span {
	display:inline-block;
	padding:8px 16px;
	border-radius:3px;
	font-size:12px;
	color:#fff;
	margin-left:5px;
	cursor:pointer;
	transition:background .5s ease;
}
#info-main-body-btn-save {
	background:#9c9;
}
#info-main-body-btn-cancel {
	background:#bbb;
}
#info-main-body-btn-save:hover{
	background:#ada;
}
#info-main-body-btn-cancel:hover {
	background:#ccc;
}

.change-data-mode-btn {
	display:block;
	text-align:center;
	margin-top:10px;
	height:40px;
	line-height:40px;
	color:#fff;
	font-size:12px;
	cursor:pointer;
	background:#9c9;
	border-radius: 3px;
	transition: background .3s ease;
}
.change-data-mode-btn:hover {
	background: #8b8;
}
.info-body-data-log-item{
	position:relative;
	height:40px;
	margin-top:10px;
	border-radius:3px;
	background:#bdb;
	padding-left:180px;
	padding-right:200px;
	white-space:nowrap;
	font-size:12px;
	color:#709;
}
.info-body-data-log-item-time{
	position:absolute;
	left:0;
	top:0;
	height:40px;
	line-height:40px;
	width:180px;
	text-align:center;
}
.info-body-data-log-item-type{
	display:inline-block;
	line-height:40px;
	font-weight:bold;
	white-space:nowrap;
	height:40px;
	width:100%;
	overflow:hidden;
	text-overflow:ellipsis;
}
.info-body-data-log-item-recovery{
	position:absolute;
	top:8px;
	right:8px;
	height:24px;
	line-height:24px;
	background:#fff;
	padding:0 10px;
	border-radius:3px;
	cursor:pointer;
}